/* Style pour l'overlay, couvrant tout l'écran */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5); /* Arrière-plan semi-transparent */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Assurez-vous que l'overlay soit au-dessus du reste */
}

/* Style pour le contenu de la modal */
.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	max-width: 80%;
	text-align: center;
	color:black;
}

.modal-content h2 {
	margin-top: 0;
}

.modal-content button {
	margin: 10px;
}
